* {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background-color: #F1F1F1;
  }
  
  body {
    background-color: var(--background-color);
    margin: 0;
  }
  header{
    background-color: #658147;
  }

/*Navbbar*/
nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 10px 50px;
}

li > a{
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    background-color: #ece8e1;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    height: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#logo{
    position: absolute;
    height: auto;
    width: 5.5%;
    top: 1%;
    left: 3%;
  }

iframe {
    width: 80%;
    position: relative;
    border-radius: 15px;
    top: 100px;
    margin-right: 7%;
}