* {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background-color: #F1F1F1;
  }
  
  body {
    background-color: var(--background-color);
    margin: 0;
  }
  header{
    background-color: #658147;
  }

/*Navbbar*/
nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    margin: 10px 50px;
}

li > a{
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    background-color: #ece8e1;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
}

/*Main*/
h1 {
    position: relative;
    font-size: 80px;
    margin: 3% 0 0 4.5%;
    line-height: 1;
}

p {
    position: relative;
    margin: 1% 0 0 5%;
}

h3 {
    position: relative;
    margin: 1% 0 0 5%;
}

/*gambar*/
  #logo{
    position: absolute;
    height: 90px;
    width: 90px;
    top: 1%;
    left: 3%;
  }
  #gambar2 {
    width: 18%;
    height: 45%;
    position: absolute;
    bottom: 6px;
    right: 40%;
    top: 52%;
    border-radius: 10%;
  }
  #gambar3 {
    width: 18%;
    height: 45%;
    position: absolute;
    bottom: 6px;
    right: 60%;
    top: 52%;
    border-radius: 10%;
  }
  #gambar4 {
    width: 18%;
    height: 45%;
    position: absolute;
    bottom: 6px;
    right: 20%;
    top: 52%;
    border-radius: 10%;
    
  }