body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}

header{
    background-color: #658147;
  }

  #logo{
    position: absolute;
    height: auto;
    width: 5.5%;
    top: 1%;
    left: 3%;
  }

/*Navbbar*/
.nav nav {
    display: flex;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.nav li {
    list-style-type: none;
    margin: 10px 50px;
}

.nav li > a{
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    background-color: #ece8e1;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
    color: #000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #658147;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.container-3 {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #658147;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.main-content {
    flex: 1;
    min-width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

.main-content h1 {
    font-size: 2.5em;
    color: #222;
    margin-bottom: 20px;
}

.main-content p {
    line-height: 1.6;
    color: #555;
}

/*Aside*/
.sidebar {
    background-color: #658147;
    color: aliceblue;
    width: 300px;
    min-height: 100vh;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    top: 249px;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #F8FAE5;
    border-radius: 10px;
    color: #000000;
}

h3{
    background-color: #F8FAE5;
    padding: 15px;
    border-radius: 15px;
}